* {
    margin: 0;
    padding: 0;
  }

  *,::after,::before {
    box-sizing: border-box
}
  
  a {
    text-decoration: none;
  }

  html, body{
  overscroll-behavior: none;
}
  
body {
    font-family: "Poppins", sans-serif !important;
    font-size: 15px;
    /*background-image: linear-gradient(to bottom, #ffffff, #f8f8fa, #f1f2f5, #e9ecf0, #e0e6eb);*/
    background-color: #f8f8fa;
  }
  
  img {
    max-width: 100%;
  }
  
  ul {
    padding-left: 0;
  }
  
  header.header {
    background-color: #5342BF;
    position: relative;
    width: 100%;
    padding: 0.5rem 1.5rem;
    border-bottom: 3px solid #fff;
    box-shadow: 0 0 5px #666;
  }
  
  .logo img {
    max-width: 75%;
  }
  
  .logo-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .lft-menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
  }
  
  .lft-menu ul>li {
    margin: 0 0.5rem;
  }
  
  .lft-menu ul>li>a {
    color: #ffffff;
    padding: 0 1rem;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
  }
  
  .lft-menu ul>li>a:hover,
  .lft-menu ul>li>a:focus {
    color: #ffd178;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
  }
  
  .inner-content {
    position: relative;
    width: 100%;
    margin: 2.5rem auto 8rem;
  
  }
  
  .page-title {
    text-align: center;
    margin: 2.5rem auto;
    position: relative;
  }
  
  .page-title::after {
  
    position: absolute;
    content: '';
    width: 5%;
    height: 5px;
    background-color: #02a560;
    display: block;
    left: 0;
    bottom: -0.85rem;
    right: 0;
    margin: auto;
  
  }
  
  .page-title h1, h2 {
    font-weight: 500;
  }
  .page-title h1 { font-size: 1.75rem;}
  .page-title h2 { font-size: 2rem;}
 
  .page-title h2 span {
    color: #0a76ba;
  }

  b, strong{
    font-weight: bolder;
  }
  
  .page-title h3 {
    color: #fb8301;
    font-weight: 700;
  }

  .row{
    display: flex;
    /* justify-content: space-between; */
    gap:2.5%;
    overflow: visible;
  }

   
  .dis-info {
    background-color: #E2E0F5;
    color: #000000;
    padding: 0.5rem 1.5rem;
    font-size: 0.85rem;
  }
  
  .dis-info h6 {
    display:flex;
    align-items: center;
    margin-right:0.5rem;
  }

  .dis-info img {
        max-width: 20px;
    margin-right: 0.25rem;
  }

  .inner-content{
    margin: 0.5rem auto 1.5rem;
  }
  
.container,.container-fluid,.container-lg,.container-md,.container-sm,.container-xl,.container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto
}

.middle-head {
    margin-top: 0.5rem;
    margin-bottom: -0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.round-status, .round-status i>img {
    font-size: 1.1rem;
    font-weight: 500;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0.25rem;
}

.round-status span {
    color: #ec1a33;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

.switch-list ul>li {
    display: inline-flex;
    width: 50px;
    text-align: center;
}

.switch-list ul>li>a {
    padding: 0.5rem 0.65rem;
    background-color: #ffe7e7;
    display: block;
}
a {
    color: #0d6efd;
}

.table-responsive {
    overflow-x: auto;
}

.custom-table .table {
    background-color: #fff;
    border: 1px solid #87898a;
}
.table {
    --bs-table-bg: transparent;
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: #212529;
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: #212529;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: #212529;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    vertical-align: top;
    border-color: #dee2e6;
}
table {
    caption-side: bottom;
    border-collapse: collapse;
}

.custom-table .table thead, .custom-table .table tfoot {
    background-color: #d7cbfe;
    text-align: center;
    font-size: 1.1rem;
}
.custom-table tbody, .custom-table td, .custom-table tfoot, .custom-table th, .custom-table thead, .custom-table tr {
    border-color: #87898a;
}

.custom-table .table tr>th, .custom-table .table tr>td {
    padding: 0.85rem 1rem;
}

.table>thead {
    vertical-align: bottom;
}
tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    /* border-width: 0; */
}

.table-bordered>:not(caption)>* {
    border-width: 1px 0;
}

.table>:not(caption)>*>* {
    padding: .5rem .5rem;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

.table>:not(:last-child)>:last-child>* {
    border-bottom-color: currentColor;
}

.custom-table .table tbody {
    text-align: center;
}

.table>tbody{
    vertical-align: inherit;
}

.custom-table .table.table-striped>tbody>tr:nth-of-type(2n+1) {
    background-color: #f6f3ff;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    --bs-table-accent-bg: var(--bs-table-striped-bg);
    color: var(--bs-table-striped-color);
}

.table>:not(caption)>*>* {
    background-color: var(--bs-table-bg);
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

th{
    font-weight: 800;
    unicode-bidi: isolate;
}

.footer {
  position: relative;
  width: 100%;
  left: 0;
  bottom: 0;
  display: block;
  z-index: 999;
}

.foot-info {
  background-color: #5342BF;
  color: #ffffff;
  padding: 0.85rem 1.5rem;
}

.mb-1 {
  margin-bottom: .25rem !important;
}
h6{
  font-size: 1rem;
}
.sm-text {
  font-size: 0.75rem;
}
.foot-info ul {
  margin-bottom: 0;
}
.items-end {
  justify-content: end;
}
.align-items-center {
  align-items: center !important;
}
.d-flex {
  display: flex !important;
}

.foot-info ul>li {
  list-style-type: none;
  margin: 0 0.5rem;
}

.footrow{
  justify-content: space-between;
}